@charset "UTF-8";

/*门户网站的CSS*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

body {
    font-family: 'Hiragino Sans GB','Microsoft YaHei','黑体',sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    min-width: 980px;
    background-color: #eeeff1;
}

li, p, ul {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

:after, :before {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

a, a:focus, img {
    outline: 0;
}

a {
    background-color: transparent;
}

a:hover {
    color: #f46;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input, input[type=password], input[type=search], select, textarea {
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 1em;
    padding: .5em;
    outline: 0;
    -webkit-transition: box-shadow .217s ease;
    transition: box-shadow .217s ease;
}

input:focus, input[type=password]:focus, input[type=search]:focus, select:focus, textarea:focus {
    border: 1px solid #00d1c1;
}

.fixed-sub-container {
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.sub-container {
    background-color: #fff;
}

/********************************************/
/*顶部*/
header {
	box-shadow: 0 1px 2px #ccc;	
}

header.welcome, .session-module {
    height: 50px;
    line-height: 50px;
}

.session-module {
    position: absolute;
    display: block;
    top: 0px;
    width: 100%;
    text-align: right;
}

header.welcome > *, .session-module > * {
    position: relative;
}

header.welcome .call {
    font-size: 18px;
    font-weight: 600;
}

#logo-header {
    background-image: url(../../img/portal/topbg0.png);
    background-repeat: repeat-x;
}

header #top-nav {
	height: 90px;
	line-height: 140px;
    background-image: url(../../img/portal/topbg.gif);
    background-position: right center;
    background-repeat: no-repeat;
}

header .city-logo {
    position: relative;
    bottom: 4px;
    margin-right: 5px;
    /*font-family: Microsoft Yahei,Hiragino box-shadow: ns GB,WenQuanYi Micro Hei,sans-serif;*/
    font-weight: 700;
    font-size: 24px;
    color: #f46;
}

header .logo-img {
    width: 60px;
    height: 50px;
    vertical-align: baseline;
    border: none;
    outline: 0;
}

header .primary-logo-img {
    width: 250px;
    height: 45px;
    margin-right: 5px;
    vertical-align: baseline;
    border: none;
    outline: 0;
}

.section-sep {
	height: 1em;
}

[class*="glyphicon-"]:before, [class^=glyphicon-]:before {
    font-family: 'Glyphicons Halflings' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.highlight {
    color: #f46;
}

/********************************************/
/*底部*/
footer {
	margin-top: 2em;
	height: 150px;
	padding-top: 45px;
	padding-bottom: 40px;
	color: silver;
	background: #2b2d2e;
	text-align: center;
	line-height: normal;
}









.session-dropdown {
    display:block;
    position: absolute;
    z-index: 100;
    top: 50px;
    right: 0;
    width: 565px;
    height: 342px;
    background: #fff;
    
    text-align: right;
    border: 1px solid #f46;
    
    font-size: 16px;
    line-height: 1.25em;
}

.op img {
    width: 20px;
}

#dltc_main {
    width: 100%;
    height: 100%;
    text-align: left;
}

#dltc_main > ul li {
    display: inline-block;
    vertical-align: top;
    outline: none;
}

.session-personal {
    width: 350px;
    margin: 10px 20px;
}

.session-personal .tab li {
    cursor: pointer;
    display: inline-block;
    padding: 4px 10px;
    width: 140px;
    
    margin: 0;
    list-style: none;
    
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f46;
    
    color: rgb(204, 204, 204);
}

.session-personal .tab li.hover {
    font-weight: bold;
    color: #f46;
    border-left: 1px solid #f46;
    border-right: 1px solid #f46;
    border-top: 1px solid #f46;
    border-bottom: 1px solid #FFF;
}

.session-admin {
    width: 160px;
    height: 300px;
    border-left: 1px dashed #ccc;
    text-align: center;
    padding-top: 120px;
    color: #ccc;
}
.session-admin a {
    color: #f46;
}

.session-module form {
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 30px;
}
.session-module form label {
    font-weight: normal;
    width: 4.1em;
}

.session-module form input[type=text], .session-module form input[type=password] {
    padding: 0px;
}

.session-module form input[type=button] {
    background: #f46;
    color: #fff;
}

#inputCode {
    width: 5em;
}

.session-module form .formMsg {
    color: red;
    font-size: .8em;
}
