@charset "utf-8";
/* ---------- Common ---------- */

body {
	_width: expression(document.body.clientWidth <= 850 ? "850px": "auto");
	min-width: 850px;
	font-size:14px;
  	font-family:"Microsoft YaHei", "微软雅黑"; 
	color: #333;
	background:#fff url(../../img/admin/bg.jpg) no-repeat;
}


/* ---------- Login ---------- */
.form-sign-h1 {
    font-size:45px;
    margin:20px auto;
    text-align:center
}

.form_wrapper {
    background:#fff;
    border:1px solid #ddd;
    margin:0 auto;
    width:350px;
    font-size:16px;
    -moz-box-shadow:1px 1px 7px #ccc;
    -webkit-box-shadow:1px 1px 7px #ccc;
    box-shadow:1px 1px 7px #ccc;
}

.form_wrapper h2 {
    padding:20px 30px 20px 30px;
    background-color:#444;
    color:#fff;
    font-size:25px;
    border-bottom:1px solid #ddd;
    margin: 0;
}

.form-sign {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-sign .form-sign-heading,
.form-sign .checkbox {
  margin-bottom: 10px;
}
.form-sign .checkbox {
  font-weight: normal;
}
.form-sign .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-sign .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.input-table {
    width:100%;
    margin-top:20px;
}

.login-btn, .register-btn {
    background:#444;
    margin-top:20px
}

.form-sign .avator {
    width: 100px;
    height: 100px;
}

.form-signup .input-table {
    margin-top:10px;
}

.form-signup .input-table tr, .form-signup .input-table td {
    vertical-align: middle;
}

.form-sign.form-signup {
    padding: 15px 0px;
}

/* Dialog
----------------------------------*/
.admin-ui-dialog {
	display:none; 
	position:absolute; 
	z-index:1001; 
	min-width:300px; 
	background-color:#fff; 
	border:4px rgba(0, 0, 0, 0.1) solid; 
	-moz-background-clip:content; 
	-webkit-background-clip:content; 
	background-clip:content-box;
}
.admin-ui-dialog-head {
	line-height:40px; 
	padding:0 8px 0 16px;
}
.admin-ui-dialog-head-title {
	color:#000; 
	font-size:14px; 
	font-weight:bold;
}
.admin-ui-dialog-head-closeButton {
	float:right; 
	display:none; 
	width:24px; height:24px; margin-top:8px; 
	background:url(../../img/admin/pop_delete.png) no-repeat center; 
	cursor:pointer;
}
.admin-ui-dialog-body {
	padding:10px 20px; 
	overflow:hidden;
}
.admin-ui-dialog-body .admin-ui-dialog-body-textContent {
	line-height:24px;
}

.admin-ui-dialog.alert .admin-ui-dialog-body .admin-ui-dialog-body-textContent {
	font-size:14px; font-weight:bold; text-align:center;
}

.admin-ui-dialog-shadow {
	position:fixed; 
	z-index:1000; 
	top:0; bottom:0; left:0; right:0; 
	background-color:#000; 
	-moz-opacity:0.3; 
	opacity:0.3; 
	filter:alpha(opacity=30);
}



/* Header
----------------------------------*/
#header{height:50px; background:#000 url(../../img/admin/logo.png) left center no-repeat; border-bottom:1px #222 solid; box-sizing:border-box;}
#header .logo{float:left; width:200px; height:40px;}
#header .user{float:right;}
#header .user span{padding-right:20px; color:#fff; font-size:12px;}
#header .user a{display:inline-block; width:38px; height:50px; margin-left:-4px; vertical-align:middle; transition:all ease-in 0.2s; -webkit-transition:all ease-in 0.2s; -moz-transition:all ease-in 0.2s;}
#header .user a.setup{background:#000 url(../../img/admin/user.png) center no-repeat;}
#header .user a.setup:hover{background-color:#FF3366;}
#header .user a.logout{background:#000 url(../../img/admin/logout.png) center no-repeat;}
#header .user a.logout:hover{background-color:#FF3366;}


/* Aside
----------------------------------*/
#sidebar{position:fixed; z-index:1; top:50px; bottom:0; left:0; width:100px; background-color:#000;}

/* Main Navigation
----------------------------------*/
#main-nav{width:100px; border-top:1px #444 solid;}
#main-nav a{display:block; height:70px; line-height:70px; color:#fff; font-size:14px; font-weight:bold; letter-spacing:1px; text-align:center; text-decoration:none; background:#000 center 10px no-repeat; transition:all ease-in 0.2s; -webkit-transition:all ease-in 0.2s; -moz-transition:all ease-in 0.2s;}
#main-nav a:hover{background-color:#FF3366;}
#main-nav .ico-home{background-image:url(../../img/admin/n_home.png);}

/* Sub Navigation
----------------------------------*/
.sub-nav{display:none; position:absolute; top:0; left:101px; width:134px; background-color:#000;}
.sub-nav dt{margin:0; padding:0; height:36px; line-height:36px; color:#aaa; font-size:12px; text-indent:30px; background:#000 url(../../img/admin/n_arrow.png) 10px center no-repeat;}
.sub-nav dd{font-size:14px;}
.sub-nav dd a{display:block; height:36px; line-height:36px; color:#fff; text-decoration:none; text-indent:20px; background-color:#000; transition:all ease-in 0.2s; -webkit-transition:all ease-in 0.2s; -moz-transition:all ease-in 0.2s;}
.sub-nav dd a:hover{background-color:#FF3366;}


/* Content
----------------------------------*/
#content{position:fixed; z-index:0; top:50px; bottom:0; left:100px; right:0; overflow:auto; min-width: 750px}

/* ---------- Menu ---------- */

body.menu {
  overflow: hidden;
}

.menu dl{
  width: 130px;
  padding:5px;
  margin:10px 5px;
  background-color:#eee;
  border-radius:5px;
}

.menu dt {
  clear: both;
  height: 30px;
  line-height: 30px;
  color: #333;
  text-indent:10px;
  font-size:14px;
  font-weight:bold;
  background-color:#ddd;
  border-bottom:1px #ccc solid;
  border-radius:5px;
}

.menu dd {
  clear: both;
  height: 30px;
  line-height: 30px;
  color: #333;
  text-indent:10px;
}

.menu dd a{display:inline-block; width:100%;}

.menu dd.curr a{color:#f10180;}


/* ---------- admin house ---------- */
#house-container {
    clear:both; width:100%; padding:25px 28px; background-color:#fff; min-height: 100%;
    font-size: 16px;
}
#house-list-container, #house-cat-container, #house-keyword-container, #house-result-lable {
    margin-top: 10px;
}

#house-list-container table {
  table-layout: fixed;
}
#house-list-container table thead, #house-list-container table thead tr th {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

#house-list-container table th.check {
  width: 50px;
}
#house-list-container table td.check {
  text-align: center;
}

.house-op {
  font-size: 10px;
  padding: 1px 6px;
}
.house-op-delete {
}
.house-op-edit {
}

.house-col-1 {
  max-width: 25%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.house-edit-container, .house-edit-container table {
  table-layout: fixed;
}

.house-edit-container th {
  width: 175px;
  text-align: right;
}

.house-edit-container td {

}

.house-edit-input-container {
  /*min-width: 1500px;*/
}

.house-tooltip {
    margin: 1px 0px 0px -10px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    border: 1px solid rgb(204, 204, 204); 
    position: relative; 
    z-index: 487; 
    width: 100%; 
    left: 10px; display: none;
    -moz-box-shadow: 2px 2px 1px 1px #f0f0f0,4px 4px 2px 2px #fafafa;
    -webkit-box-shadow: 2px 2px 1px 1px #f0f0f0,4px 4px 2px 2px #fafafa;
            box-shadow: 2px 2px 1px 1px #f0f0f0,4px 4px 2px 2px #fafafa;
}

.house-autoCompleteul {
  margin:0; padding:0; display:block; width: 100%; background: #fff;
}

.house-autoCompleteul li {
    color: #333;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  text-indent: 7px;
  overflow: hidden;
  white-space: nowrap;
}

.house-autoCompleteul li:hover {
  background: #f0f0f0;
}

.house-related-long {
  width: 395px;
}

.house-related-short {
  width: 95px;
}

.house-input_text_wrap {
  float: left;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-right: 5px;
  font-size: 14px;
  padding: 0 8px;
}

.house-input_text_wrap input {
  width: 525px;
  height: 34px;
  border: 0;
  text-align: left;
}

.house-input_text_wrap span {
    color: #a6a6a6;
}

.house-input_text_wrap input, .house-input_text_wrap span {
  float: left;
  line-height: 34px;
  text-align: center;
}

.house-input_text_wrap input:focus {
  /*outline-offset: -2px;*/
  outline: 0;
  border: 0;
}

#inputHouseTitle, #inputDetail {
  width: 395px;
}

.house-input_text_wrap input.house-related-short {
  width: 95px;
}
.house-input_text_wrap input.house-related-long {
  width: 395px;
}


.house-edit-container th small, .house-edit-container td small, .house-input_text_wrap span small {
  font-size: 0.5em;
  color:#e74c3c;
}

.house-selectordef {
  position: relative;
  cursor: pointer;
  outline: 0;
  float: left;
  margin-right: 5px;
  width: 150px;
}

.house-selectordef, .house-selectordef * {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.house-selectordef .title {
  height: 34px;
  border: solid 1px #e0e0e0;
  outline: 0;
  border-radius: 3px;
  position: relative;
  line-height: 190%;
}


.house-selectordef .title span {
  padding: 6px;
  height: 16px;
  display: block;
  overflow: hidden;
  float: left;
  line-height: 24px;
  font-size: 14px;
}

.house-selectordef .title .seled {
    width: 70%;
}

.house-selectordef .title div.arrow {
  margin-top: 16px;
  margin-right: 12px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #2f2f2f;
  font-size: 0;
  line-height: 0;
  float: right;
  position: static;
}

.house-optiondef {
  position: relative;
  width: 147px;
  height: 0px;
  z-index: 100;
}

.house-optiondef ul {
  width: 147px;
  max-height: 300px;
  overflow: auto;
  top: -1px;
  left: -2px;
  position: relative;
  border: 1px solid #CCC;
  box-shadow: 2px 2px 1px 1px #f0f0f0,4px 4px 2px 2px #fafafa;
  list-style: none;
}

.house-selectordef .house-optiondef ul li {
  background-color: #FFF;
  height: 33px;
  overflow: hidden;
  padding-left: 6px;
  color: gray;
  font-size: 14px;
  line-height: 33px;
}
.house-selectordef .house-optiondef ul li:hover, .house-selectordef .house-optiondef ul li:focus {
  background-color: #ececec;
  color: #000;
}

